.Rproj.user
.Rhistory
.RData
.DS_Store
.Renviron
Examples/dev_sink.Rmd
inst/templates/sink_report.Rmd
manuscript/RJwrapper.log
manuscript/RJwrapper.aux
manuscript/RJwrapper.out
manuscript/RJwrapper.pdf
notes
doc
Meta
Reviews
Examples_sink
docker
nabatR_gitlab.Rproj